body{
  font-family: Arial;
}

.input-bar{
  font-size: 14px;
  padding: 6px;
  
}

.input-date{
  font-size: 14px;
  padding: 6px;
}

.add-button{
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: green;
}

.todo-grid,
.input-elements-bar{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  margin-bottom: 10px;
  gap: 10px;
}

.delete-button{
  background-color: rgb(139,0,0);
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  color: white;
}